<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %c classname, %p level, %msg message -->
            <pattern>%c %p %msg%n</pattern>
            <!--
            <pattern>%p %msg%n</pattern>
            -->
        </encoder>
    </appender>

    <logger name="com.kazurayam.material.Material"              level="info"/>

    <logger name="root" level="debug" />

    <root>
        <appender-ref ref="STDOUT" />
    </root>
</configuration>